@model Ta3lim.Database.ExamType

@{
    ViewBag.Title = "حذف";
}

<h2>حذف</h2>

<h3>هل أنت من حذف نوع الامتحان؟</h3>
<div>
    <h4>نوع امتحان</h4>
    <hr />
    
        <h2>
            @Html.DisplayNameFor(model => model.Type)
        </h2>

        <p>
            @Html.DisplayFor(model => model.Type)
        </p>

    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
                @Html.ActionLink("العودة إلى اللائحة", "Index")
        </div>
    }
</div>
