@model Ta3lim.Database.ExamType

@{
    ViewBag.Title = "معلومات";
}

<h2>معلومات</h2>

<div>
    <h4>نوع امتحان</h4>
    <hr />
    
        <h2>
            @Html.DisplayNameFor(model => model.Type)
        </h2>

        <p>
            @Html.DisplayFor(model => model.Type)
        </p>

    
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.id }) |
        @Html.ActionLink("العودة إلى اللائحة", "Index")
</p>
